<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "stylesheet" href = "css/expanded.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>{{title}}</title>
    </head>

        <body>
            <header>
                <div class = "logo">
                    <a href = "index"><img src = "assets/originallogo.png" alt= "Original Logo"></a>
                </div>
                <div class = "navigation">
                    <a href = "index">Home</a>
                    <div class = "dropdown1">
                        <a href = "services">Services</a>
                        <div class = "dropdown1-content">
                            <a href = "manicure">Manicure</a>
                            <a href = "pedicure">Pedicure</a>
                            <a href = "spacombo">Spa Combo</a>
                        </div>
                    </div>
                    <div class = "dropdown2">
                        <a href = "about">About</a>
                        <div class = "dropdown2-content">
                            <a href = "location">Location</a>
                            <a href = "gallery">Gallery</a>
                        </div>
                    </div>            
                    <a href = "contact">Contact</a>
                </div>
            </header>
            <main id = "about_main">
                <h2 class = "aboutheader">About Business</h2>
                <div class = "aboutdescription">Metro Nails was first established in what seemed like a millennium ago in 2008. We first started out with 3 used pedicure chairs and 4 used manicure tables, albeit with plenty of determination. At that time, we were sharing the space, right across the street from where we are now, with a hair salon.
                    Looking back at the experiences that colored our memories, the sweet and the not so sweet, we realize the thing with memories is that we tend to remember the good ones more. We often mused, with a hint of a smile on our faces, of the time when a staff went to get coffee and never came back. We weren't busy enough to keep her gainfully employed at that time. We could not blame her one bit. (I'm still waiting for that coffee coolata though haha)
                    We also often mused, with humility and gratitude, of the many, many wonderful people that had stayed with us and helped us flourish over the years. We also find comfort and pride that many of these hard-working, selfless women have gone on to open their own businesses and thrive.
                    Now, we have a new generation of hard-working selfless ladies with us once more. Our wish is for them to flourish and thrive with us as well. And so it goes on...</div>
                <h2>Visit Us</h2>
                <div class = "aboutcontainer">
                    <div class = "aboutlocation">
                        395 Wickenden St,<br>
                        Providence RI, 02916<br>
                        Call 401-490-0101 for Appointments or GiftCards!
                    </div>
                    <div class = "operationhours">
                        Monday: 9:30AM-7PM
                        Tuesday: 9:30AM-7PM
                        Wednesday: 9:30AM-7PM
                        Thursday: 9:30AM-7PM
                        Friday: 9:30AM-7PM
                        Saturday: 9AM-6PM
                        Sunday: 9AM-5PM
                    </div>
                </div>
                <h3>Follow Us!</h3>
                <div class = "socialmedia">
                    <a href = "https://www.instagram.com/metro_nails/" target = "_blank" class="instagram-icon"><i class="fa fa-instagram" style="font-size:34px"></i></a>
                </div>
            </main>
        </body>
</html>
