<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "stylesheet" href = "css/expanded.css">
        <title>{{title}}</title>
    </head>

    <body>
        <header>
            <div class="logo">
                <a href="index"><img src="assets/originallogo.png" alt="Original Logo"></a>
            </div>
            <div class = "navigation">
                <a href = "index">Home</a>
                <div class = "dropdown1">
                    <a href = "services">Services</a>
                    <div class = "dropdown1-content">
                        <a href = "manicure">Manicure</a>
                        <a href = "pedicure">Pedicure</a>
                        <a href = "spacombo">Spa Combo</a>
                    </div>
                </div>
                <div class = "dropdown2">
                    <a href = "about">About</a>
                    <div class = "dropdown2-content">
                        <a href = "location">Location</a>
                        <a href = "gallery">Gallery</a>
                    </div>
                </div>            
                <a href = "contact">Contact</a>
            </div>
        </header>
        <main id="contact_main">
            <h2>Metro Nails</h2>
            <div class = "contactcontainer">
                <div class = "contactdescription">
                    395 Wickenden St,<br>
                    Providence RI, 02916<br>
                    Call 401-490-0101 for Appointments or GiftCards!
                </div>
                <div class = "operationhours">
                    Monday: 9:30AM-7PM
                    Tuesday: 9:30AM-7PM
                    Wednesday: 9:30AM-7PM
                    Thursday: 9:30AM-7PM
                    Friday: 9:30AM-7PM
                    Saturday: 9AM-6PM
                    Sunday: 9AM-5PM
                </div>
            </div>
            <h2>Contact Us</h2>
            <div class = "contactus">
                <div class = "emailcontact"></div>
            </div>
        </main>
        </body>
</html>
